.header-container {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.header-content {
  display: flex;
  justify-content: space-between;
}

.custom-toolbar {
  background-color: #fff; /* Match the background color from the login button */
  border-radius: 6px; /* Match the border-radius from the login button */
}

.header-image {
  height: 48px; /* Match the height from the login button */
  margin-right: 16px; /* Add some margin for spacing */
}

.portal-image {
  height: 44px; /* Match the height from the login button */
  margin-left: 650px; /* Align the portal image to the right */
}


/* You can uncomment and modify the following if you want to style the toolbar title */

.toolbar-title {
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #fff;
  margin-left: 16px;
  line-height: 48px;
}

