.header-container {
  /* border-left: 4px solid #6D6E71; /* Set the border on the left side */
  /* border-right: 4px solid #6D6E71;  */
  box-shadow: 0 5px 6px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);;
  border-radius: 6px;
}

.header-content {
  display: flex;
  justify-content: center;
}

.custom-toolbar {
  background-color: #fff; /* Match the background color from the login button */
  border-radius: 6px; /* Match the border-radius from the login button */
}

.header-image {
  height: 48px; /* Match the height from the login button */
  margin-right: 16px; /* Add some margin for spacing */
}

/* You can uncomment and modify the following if you want to style the toolbar title */

.toolbar-title {
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #fff;
  margin-left: 16px;
  line-height: 48px;
}

