.header-container {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure the container spans the full width */
}

.header-content {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Ensure the content spans the full width */
}

.custom-toolbar {
  background-color: #fff;
  border-radius: 6px;
  width: 100%; /* Ensure the toolbar spans the full width */
}

.header-image {
  height: 48px;
  margin-right: 16px;
}

.portal-image {
  height: 44px;
  margin-left: auto; /* Align the portal image to the right by pushing it to the end */
}

.toolbar-title {
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #fff;
  margin-left: 16px;
  line-height: 48px;
}

/* Add the following CSS rule to make sure the mat-toolbar spans the full width */
.mat-toolbar {
  width: 100%;
}
