<div>
  <!-- Button for updating the database -->
  <button (click)="updateStudentGrade()">Update Student's Grade</button>

  <button (click)="updateStudentDatabase()">
    Update Students's Database
  </button>

  <button (click)="updateCourseDatabase()">
    Update Course Database
  </button>

  <!-- Button for checking the graduation checklist -->
  <button (click)="checkGraduationChecklist()">
    Check Graduation Checklist
  </button>
</div>

<!-- Logout button -->
<div class="logout-button">
  <button (click)="logout()">Log Out</button>
</div>
