<div class="logout-button">
  <button class="logout-button" (click)="logout()">Log Out</button>
</div>

<div class="button-container">
  <div class="update-buttons">
    <button class="update-button" (click)="updateStudentDetails()">
      Add Students Details
    </button>
    <button class="update-button" (click)="updateStudentDatabase()">
      Add Students Grades
    </button>
    <button class="update-button" (click)="updateCourseDatabase()">
      Update Courses
    </button>
    <button class="action-button" (click)="showSummary()">
      Show Student Summary
    </button>
    <button class="action-button" (click)="provisonalRequests()">
      Check Provisional Request
    </button>
  </div>

  <div class="action-buttons">
    <button class="action-button" (click)="checkGraduationChecklist()">
      Check Graduation Status
    </button>
    <button class="action-button" (click)="updateStudentGrade()">
      Update Student Grade
    </button>
    <button class="action-button" (click)="includeIp()">
      Update Minors Details
    </button>
    <button class="action-button" (click)="semLeave()">
      Update Semester Leave
    </button>
    <button class="action-button" (click)="update2fail()">
      Update 2-FAIL 
    </button>
  </div>
</div>


