<mat-card>
  <mat-card-content>
    <table mat-table [dataSource]="dataSourceTwo">
      <!-- Define your table columns here -->
      <ng-container matColumnDef="rule">
        <th mat-header-cell *matHeaderCellDef>Requirement</th>
        <td mat-cell *matCellDef="let element">{{ element.rule }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>

      <ng-container matColumnDef="credits">
        <th mat-header-cell *matHeaderCellDef>Credits</th>
        <td mat-cell *matCellDef="let element">{{ element.credits }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumn"
        [ngClass]="{ 'red-row': row.status !== 'Done' }"
      ></tr>
    </table>
  </mat-card-content>
</mat-card>

<!-- Add this button below the first table -->
<!-- Center the button vertically and horizontally -->
<div class="center-button">
  <button mat-raised-button (click)="openCoreCoursesDialog()">
    View Core Courses
  </button>
</div>

<ng-template #coreCoursesDialogContent>
  <mat-card>
    <mat-card-actions>
      <button mat-button (click)="closeDialog()">Close</button>
    </mat-card-actions>
    <mat-card-content class="scrollable-content">
      <div class="center-horizontally">
        <h2><b>Core Courses</b></h2>
      </div>
      <table mat-table [dataSource]="dataSource">
        <!-- Define your table columns here -->
        <ng-container matColumnDef="course">
          <th mat-header-cell *matHeaderCellDef>Course</th>
          <td mat-cell *matCellDef="let element">{{ element.course }}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let element">{{ element.status }}</td>
        </ng-container>

        <ng-container matColumnDef="credits">
          <th mat-header-cell *matHeaderCellDef>Credits</th>
          <td mat-cell *matCellDef="let element">{{ element.credits }}</td>
        </ng-container>

        <ng-container matColumnDef="grade">
          <th mat-header-cell *matHeaderCellDef>Grade</th>
          <td mat-cell *matCellDef="let element">{{ element.grade }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          [ngClass]="{ 'red-row': row.status !== 'Done' }"
        ></tr>
      </table>
      <mat-card-content *ngFor="let tableData of tablesData; let i = index">
        <div class="vertical-spacer"></div>
        <h2
          [ngClass]="{
            'green-text': completedBuckets[i],
            'red-text': !completedBuckets[i]
          }"
        >
          Any One (Mandatory Bucket {{ i + 1 }})
        </h2>
        <table mat-table [dataSource]="tableData">
          <!-- Define your table columns here -->
          <ng-container matColumnDef="course">
            <th mat-header-cell *matHeaderCellDef>Course</th>
            <td mat-cell *matCellDef="let element">{{ element.course }}</td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let element">{{ element.status }}</td>
          </ng-container>

          <ng-container matColumnDef="credits">
            <th mat-header-cell *matHeaderCellDef>Credits</th>
            <td mat-cell *matCellDef="let element">{{ element.credits }}</td>
          </ng-container>

          <ng-container matColumnDef="grade">
            <th mat-header-cell *matHeaderCellDef>Grade</th>
            <td mat-cell *matCellDef="let element">{{ element.grade }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </mat-card-content>
    </mat-card-content>
  </mat-card>
</ng-template>
