<mat-card>
  <mat-card-content>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Mandatory Courses</h2>
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
    <table *ngIf="isTable1Expanded" mat-table [dataSource]="dataSource">
      <!-- Define your table columns here -->
      <ng-container matColumnDef="course">
        <th mat-header-cell *matHeaderCellDef>Course</th>
        <td mat-cell *matCellDef="let element">{{ element.course }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>

      <ng-container matColumnDef="credits">
        <th mat-header-cell *matHeaderCellDef>Credits</th>
        <td mat-cell *matCellDef="let element">{{ element.credits }}</td>
      </ng-container>

      <ng-container matColumnDef="grade">
        <th mat-header-cell *matHeaderCellDef>Grade</th>
        <td mat-cell *matCellDef="let element">{{ element.grade }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'red-row': row.status === 'Not Done'}"></tr>
    </table>
  </mat-expansion-panel>
  </mat-card-content>
</mat-card>

<mat-card *ngFor="let tableData of tablesData; let i = index">
  <mat-card-content>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Mandatory Bucket {{i + 1}}</h2>
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
    <table *ngIf="isTable2Expanded[i]" mat-table [dataSource]="tableData">
      <!-- Define your table columns here -->
      <ng-container matColumnDef="course">
        <th mat-header-cell *matHeaderCellDef>Course</th>
        <td mat-cell *matCellDef="let element">{{ element.course }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>

      <ng-container matColumnDef="credits">
        <th mat-header-cell *matHeaderCellDef>Credits</th>
        <td mat-cell *matCellDef="let element">{{ element.credits }}</td>
      </ng-container>

      <ng-container matColumnDef="grade">
        <th mat-header-cell *matHeaderCellDef>Grade</th>
        <td mat-cell *matCellDef="let element">{{ element.grade }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-expansion-panel>
  </mat-card-content>
</mat-card>

<mat-card *ngFor="let rule of rules; let i = index">
  <mat-card-content>
    <table mat-table [dataSource]="rule">
      <!-- Define your table columns here -->
      <ng-container matColumnDef="rule">
        <th mat-header-cell *matHeaderCellDef>Rule</th>
        <td mat-cell *matCellDef="let element">{{ element.rule }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>

      <ng-container matColumnDef="credits">
        <th mat-header-cell *matHeaderCellDef>Credits</th>
        <td mat-cell *matCellDef="let element">{{ element.credits }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
    </table>
  </mat-card-content>
</mat-card>
