/* graduation-checklist.component.css (or your appropriate file) */

/* Apply the same container styling */
table .red-row {
  background-color: rgb(246, 104, 104);
  color: white;
}


.mat-card {
  margin: 20px auto;
  max-width: 800px;
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 20px;
}

h2 {
  font-size: 24px;
  margin: 20px 0;
  color: #333;
}

/* Apply the same table styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px auto;
  max-width: 600px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Your component.css */
.green-text {
  color: green;
}

.red-text {
  color: red;
}
