<button (click)="goBack()">← Go Back</button>

<div class="container">
  <mat-card class="custom-toolbar">
    <div class="center-horizontally">
      <h2><b>Student Details</b></h2>
    </div>
    <div class="student-info">
      <div><strong>Name:</strong> {{ studentName }}</div>
      <div><strong>Program:</strong> {{ program }}</div>
      <div><strong>Roll Number:</strong> {{ rollNumber }}</div>
    </div>
  </mat-card>
</div>
<ng-container *ngFor="let category of courseCategories">
  <mat-card>
    <div class="center-horizontally">
      <h1
        [ngClass]="{
          'green-text': category.status,
          'red-text': !category.status
        }"
      >
      {{ category.title }}
      </h1>
    </div>

    <table mat-table [dataSource]="category.courses">
      <ng-container matColumnDef="course">
        <th mat-header-cell *matHeaderCellDef>Course Code</th>
        <td mat-cell *matCellDef="let element">{{ element.course }}</td>
      </ng-container>

      <ng-container matColumnDef="courseName">
        <th mat-header-cell *matHeaderCellDef>Course Name</th>
        <td mat-cell *matCellDef="let element">{{ element.courseName }}</td>
      </ng-container>

      <ng-container matColumnDef="semester">
        <th mat-header-cell *matHeaderCellDef>Semester</th>
        <td mat-cell *matCellDef="let element">{{ element.semester }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>

      <ng-container matColumnDef="credits">
        <th mat-header-cell *matHeaderCellDef>Credits</th>
        <td mat-cell *matCellDef="let element">{{ element.credits }}</td>
      </ng-container>

      <ng-container matColumnDef="grade">
        <th mat-header-cell *matHeaderCellDef>Grade</th>
        <td mat-cell *matCellDef="let element">{{ element.grade }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        [ngClass]="{ 'red-row': row.status !== 'Complete' }"
      ></tr>
    </table>
  </mat-card>
</ng-container>
