<div class="form">
  <h2>Add Students Details</h2>
  <input type="file" (change)="onFileChange($event)" accept=".xls" />
  <button (click)="uploadFile()">Upload</button>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</div>

<div class="go-back-button">
  <button (click)="goBack()">← Go Back</button>
</div>

<!-- <div>
  <button (click)="downloadData()">Download Passwords</button>
</div> -->


<div>
  <!-- Redirect to Google Sheets link -->
  <a href="https://docs.google.com/spreadsheets/d/1BTEkTo5tnUWaXZMCNcE_zRKYGPqNcNRg/edit?usp=sharing&ouid=108108398883224737615&rtpof=true&sd=true" target="_blank">
    <button>View Student Data Format</button>
  </a>
</div>
