/* graduation-checklist.component.css (or your appropriate file) */

button {
  margin: 10px 10px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #44b3ad;
  color: #fff;
  border: 2px solid #40aca7;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}

button:hover {
  background-color: #367976;
  border-color: #367976;
  color: #fff;
}

/* Apply the same container styling */
table .red-row {
  background-color: rgb(246, 104, 104);
  color: white;
}

.mat-card {
  margin: 20px auto;
  max-width: 800px;
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 20px;
}

h2 {
  font-size: 24px;
  margin: 20px 0;
  color: #333;
}

/* Apply the same table styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px auto;
  max-width: 600px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Your component.css */
.green-text {
  color: green;
}

.red-text {
  color: red;
}

 
.student-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0 20px 20px 20px;
  font-size: medium;
}

.container {
  display: flex;
  justify-content: center; /* Center the container horizontally */
  align-items: center; /* Center the container vertically */
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 16px;
  width: 70%;
  margin-left: auto; /* Add this to center the container */
  margin-right: auto; /* Add this to center the container */
}

.mat-card {
  width: 48%; /* Adjust the width as needed */
}

.custom-toolbar {
  background-color: #fff;
  border-radius: 6px;
  margin-top: 16px; /* Add some margin for spacing */
  width: 100%;
}

.center-horizontally {
  padding-top: 10px;
  text-align: center;
}

