/* student-form.component.css */
.container {
  text-align: center;
  padding: 60px;
}

h1 {
  font-size: 24px;
  color: #58585A; /* Match the text color from the header */
}

p {
  font-size: 18px;
  color: #666;
}

.form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #f2f2f2; /* Match the background color from the header */
}

.form-group {
  text-align: left;
  margin-bottom: 15px;
}

label {
  font-size: 16px;
  font-weight: bold;
  color: #58585A; /* Match the text color from the header */
}

input[type="number"] {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #44B3AD;
  color: #fff;
  border: 2px solid #40aca7;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

button:hover {
  background-color: #367976;
  border-color: #367976;
  color: #fff;
}

