<div class="login-container">
  <img
    src="/assets/images//cloud-bg-2.jpg"
    class="image1"
  />
  <img
    src="/assets/images/client-login-iiitd-bg.png"
    class="image2"
  />
  <div class="login-box">
    <form>
      <div>
        <input
          type="text"
          class="form-group"
          placeholder="Email address"
          [(ngModel)]="username"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div>
        <input
          type="password"
          class="form-group"
          placeholder="Password"
          [(ngModel)]="password"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>

      <button class="login-button" (click)="onLogin()">Log in</button>
      <div class="response-message">
        {{ responseMessage }}
      </div>

      <div class="forgot-password">
        Forgotten password?
      </div>
      <hr class="line" />
    </form>
    <button class="create-account-button">Create New Account</button>
  </div>
</div>
