<mat-card class="center-card">
  <mat-card-content>
    <h2>Student Information</h2>
    <p>Roll Number: {{ rollNumber }}</p>
    <p>Name: {{ studentName }}</p>
    <p>Program: {{ branch }}</p>
    <p
      [ngClass]="{
        graduated: gradStatus === true,
        incomplete: gradStatus === false
      }"
    >
      <strong>
        Graduation Status:
        <ng-container *ngIf="gradStatus === true; else incompleteStatus">
          Graduated
        </ng-container>
        <ng-template #incompleteStatus> Graduation Incomplete </ng-template>
      </strong>
    </p>
    <div *ngIf="gradStatus === true">
      <button
        mat-raised-button
        color="primary"
        [routerLink]="['/summary-page']"
        [queryParams]="{
          rollNumber: rollNumber,
          program: branch,
          studentName: studentName
        }"
      >
        Show Summary
      </button>
    </div>

    <button
      mat-raised-button
      color="accent"
      [routerLink]="['/cgpa-page']"
      [queryParams]="{
        rollNumber: rollNumber,
        program: branch,
        studentName: studentName
      }"
    >
      Show Semester Wise CGPA
    </button>
  </mat-card-content>
</mat-card>
