<div class="container">
  <div class="container" *ngIf="showData">
    <div *ngIf="requests.length > 0; else noCourses">
      <h3>Select Request to approve</h3>
      <table>
        <thead>
          <tr>
            <th>RollNumber</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let request of requests; let i = index">
            <td>{{ request["Roll No"] }}</td>
            <td>
              <button
                (click)="acceptRequest(request['Roll No'])"
                class="button-column"
              >
                {{ "Accept & Download" }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <ng-template #noCourses>
      <p>No Requests available.</p>
    </ng-template>
  </div>

  <div class="go-back-button">
    <button (click)="goBack()">← Go Back</button>
  </div>
</div>
