table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px auto;
}

th,
td {
  border: 1px solid #ddd;
  padding: 6px;
  text-align: center;
  font-size: 14px;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* Apply the same styling for even rows */
tr:nth-child(even) {
  background-color: rgb(229, 229, 229);
}

/* Apply red background for specific rows */
.red-row {
  background-color: rgb(246, 104, 104);
  color: white;
}

/* Adjust button styles */
td button {
  margin: 3px;
  padding: 4px 6px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  background-color: #44b3ad;
  color: #fff;
  border: 2px solid #40aca7;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
  width: 100%;
  max-width: 80px;
}

td button:hover {
  background-color: #367976;
  border-color: #367976;
  color: #fff;
}

/* Center button horizontally */
.center-button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* Container styling */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 16px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

/* Card styling */
.mat-card {
  width: 48%;
}

/* Go Back button styling */
button {
  margin: 10px 10px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #44b3ad;
  color: #fff;
  border: 2px solid #40aca7;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}

button:hover {
  background-color: #367976;
  border-color: #367976;
  color: #fff;
}

/* Custom toolbar styling */
.custom-toolbar {
  background-color: #fff;
  border-radius: 6px;
  margin-top: 16px;
  width: 100%;
}

/* Center content horizontally */
.center-horizontally {
  padding-top: 10px;
  text-align: center;
}

/* Student info styling */
.student-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0 20px 20px 20px;
  font-size: medium;
}

/* Vertical spacing */
.vertical-spacer {
  margin-bottom: 20px;
}

/* Scrollable content */
.scrollable-content {
  max-height: 200px;
  overflow-y: auto;
}

/* Green text style */
.green-text {
  color: green;
}

/* Red text style */
.red-text {
  color: red;
}

.bold-text {
  font-weight: bold;
}
